# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

aux_config/
*~
Makefile.in
aclocal.m4
autom4te.cache/
config.h.in
configure
Makefile.in
build/
Makefile.automake
.deps/
Makefile
config.h
config.log
config.status
stamp-h1
